<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Funnel!</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">
</head>
<body>
<div class="container">
    <form action="/page2" role="form" method="POST">
        {% csrf_token %}
        <div class="form-item">
            <label for="">Введите ссылку на лендинг</label>
            {{ form.land }}
            <span>Ввести URL - лендинга</span>
        </div>
        <div class="form-item">
            <label for="">Введите ссылку на Success Page</label>
            {{ form.success }}
            <span>Ввести URL - Success Page</span>
        </div>
        <div class="form-item">
            <label for="">Введите дату старта промо</label>
            {{ form.start }}
            <span>15.08.2019</span>
        </div>
        <div class="form-item">
            <label for="">Введите дату окончания промо</label>
            {{ form.end }}
            <span>15.08.2019</span>
        </div>
        <div class="form-item">
            <label for="">Введите ссылку на таблицу регистраций complete</label>
            {{ form.complete }}
            <span>Ввести ссылку на complete</span>
        </div>
        <div class="form-item">
            <label for="">Введите хештег</label>
            {{ form.heshteg }}
            <span>Ввести хештег</span>
        </div>
        <button type="submit">Отправить &gt;&gt;</button>
    </form>
</div>
</body>
</html>
