<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Table</title>
</head>
<body>
    <table>
        <tr>
            <td>1 column Источник</td>
            <td>2 column Количество</td>
            <td>3 column Сила</td>
            <td>4 column</td>
            <td>5 column Конверсия</td>
            <td>6 column Регистрации факт</td>
            <td>7 column Бюджет план</td>
            <td>8 column Бюджет факт</td>
        </tr>
    </table>
</body>
</html>
