<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">

  <title>Funnel!</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">
  <link rel="stylesheet"  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">Воронка по проектам</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href="#">Добро пожаловать</a>

  </nav>
</div>
<div class="container">


<!--<TILDA ver="2.0.5">--><link rel="stylesheet" type="text/css" href="https://static.tildacdn.com/css/tilda-grid-3.0.min.css"><link rel="stylesheet" type="text/css" href="https://tilda.ws/project842811/tilda-blocks-2.12.css"><link rel="stylesheet" type="text/css" href="https://static.tildacdn.com/css/tilda-animation-1.0.min.css"><link rel="stylesheet" type="text/css" href="https://static.tildacdn.com/css/tilda-slds-1.4.min.css"><link rel="stylesheet" type="text/css" href="https://static.tildacdn.com/css/tilda-zoom-2.0.min.css"><!--allrecords-->





</div>

          </div>








<div id="rec77738327" class="r t-rec t-rec_pt_60 t-rec_pb_30" style="padding-top:60px;padding-bottom:30px;background-color:#dfe3e4; "  data-record-type="33"   data-bg-color="#dfe3e4">
<!-- T017 -->
<div class="t017">
  <div class="t-container t-align_center">
    <div class="t-col t-col_10 t-prefix_1">
      <div class="t017__uptitle t-uptitle t-uptitle_md" field="subtitle" style=""><div style="font-family:'FuturaPT';" data-customstyle="yes"></div></div>      <div class="t017__title t-title t-title_xxs" field="title" style="font-family:'FuturaPT';"><strong>Воронка факт проекта на текущий момент</strong></div>      <div class="t017__descr t-descr t-descr_xs" field="descr" style="font-family:'FuturaPT';"><div style="font-size:18px;" data-customstyle="yes"></div></div>    </div>
  </div>
</div>
</div>





<div id="rec77738328" class="r t-rec t-rec_pt_45 t-rec_pb_105" style="padding-top:45px;padding-bottom:105px;background-color:#dfe3e4; " data-animationappear="off" data-record-type="678" data-bg-color="#dfe3e4">
<!-- t678 -->
<div class="t678 ">


    <div class="t-container">
        <div class="t-col t-col_8 t-prefix_2">
        <div>

    <form id="form77738328" name="form77738328" role="form" action="" method="POST" data-formactiontype="2" data-inputbox=".t-input-group" data-success-url="https://1.changellenge.com/for-best-employers-success" class="t-form js-form-proccess t-form_inputs-total_9  " data-success-callback="t678_onSuccess">

	  			        	            	                <input type="hidden" name="formservices[]" value="1be168af8a85a264fd9ec3577b14281e" class="js-formaction-services">


            <div class="js-successbox t-form__successbox t-text t-text_md" style="display:none;"></div>

            <div class="t-form__inputsbox">

<table class="table table-hover table-condensed table-striped table-bordered table-sm">
     {% if user.is_authenticated %}
     <a href="{% url 'users:logout' %}">log out</a>
     {% else %}
     {% endif %}
  <thead>
    <tr>
      <th>#</th>
      <th>Источник</th>
      <th>Количество</th>
      <th>Трафик факт</th>
        <th>Конверсия</th>
        <th>Регистрации факт</th>
        <th>Бюджет план</th>
        <th>Бюджет факт</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>{{Источник.0}}</td>
      <td>{{Количество.0}}</td>
      <td>{{Сила.0}}</td>
      <td>{{Трафикфакт.0}}</td>
        <td>{{Конверсия.0}}</td>
      <td>{{Регистрациифакт.0}}</td>
      <td>{{Бюджетплан.0}}</td>
        <td>{{Бюджетфакт.0}}</td>
    </tr>
      <tr>
      <th scope="row">2</th>
      <td>{{Источник.1}}</td>
      <td>{{Количество.1}}</td>
      <td>{{Сила.1}}</td>
      <td>{{Трафикфакт.1}}</td>
        <td>{{Конверсия.1}}</td>
      <td>{{Регистрациифакт.1}}</td>
      <td>{{Бюджетплан.1}}</td>
        <td>{{Бюджетфакт.1}}</td>
    </tr>
      <tr>
      <th scope="row">3</th>
      <td>{{Источник.2}}</td>
      <td>{{Количество.2}}</td>
      <td>{{Сила.2}}</td>
      <td>{{Трафикфакт.2}}</td>
        <td>{{Конверсия.2}}</td>
      <td>{{Регистрациифакт.2}}</td>
      <td>{{Бюджетплан.2}}</td>
        <td>{{Бюджетфакт.2}}</td>
    </tr>
      <tr>
      <th scope="row">4</th>
      <td>{{Источник.3}}</td>
      <td>{{Количество.3}}</td>
      <td>{{Сила.3}}</td>
      <td>{{Трафикфакт.3}}</td>
        <td>{{Конверсия.3}}</td>
      <td>{{Регистрациифакт.3}}</td>
      <td>{{Бюджетплан.3}}</td>
        <td>{{Бюджетфакт.3}}</td>
    </tr>
      <tr>
      <th scope="row">5</th>
      <td>{{Источник.4}}</td>
      <td>{{Количество.4}}</td>
      <td>{{Сила.4}}</td>
      <td>{{Трафикфакт.4}}</td>
        <td>{{Конверсия.4}}</td>
      <td>{{Регистрациифакт.4}}</td>
      <td>{{Бюджетплан.4}}</td>
        <td>{{Бюджетфакт.4}}</td>
    </tr>
      <tr>
      <th scope="row">6</th>
      <td>{{Источник.5}}</td>
      <td>{{Количество.5}}</td>
      <td>{{Сила.5}}</td>
      <td>{{Трафикфакт.5}}</td>
        <td>{{Конверсия.5}}</td>
      <td>{{Регистрациифакт.5}}</td>
      <td>{{Бюджетплан.5}}</td>
        <td>{{Бюджетфакт.5}}</td>
    </tr>
      <tr>
      <th scope="row">7</th>
      <td>{{Источник.6}}</td>
      <td>{{Количество.6}}</td>
      <td>{{Сила.6}}</td>
      <td>{{Трафикфакт.6}}</td>
        <td>{{Конверсия.6}}</td>
      <td>{{Регистрациифакт.6}}</td>
      <td>{{Бюджетплан.6}}</td>
        <td>{{Бюджетфакт.6}}</td>
    </tr>
      <tr>
      <th scope="row">8</th>
      <td>{{Источник.7}}</td>
      <td>{{Количество.7}}</td>
      <td>{{Сила.7}}</td>
      <td>{{Трафикфакт.7}}</td>
        <td>{{Конверсия.7}}</td>
      <td>{{Регистрациифакт.7}}</td>
      <td>{{Бюджетплан.7}}</td>
        <td>{{Бюджетфакт.7}}</td>
    </tr>
      <tr>
      <th scope="row">9</th>
      <td>{{Источник.8}}</td>
      <td>{{Количество.8}}</td>
      <td>{{Сила.8}}</td>
      <td>{{Трафикфакт.8}}</td>
        <td>{{Конверсия.8}}</td>
      <td>{{Регистрациифакт.8}}</td>
      <td>{{Бюджетплан.8}}</td>
        <td>{{Бюджетфакт.8}}</td>
    </tr>
      <tr>
      <th scope="row">10</th>
      <td>{{Источник.9}}</td>
      <td>{{Количество.9}}</td>
      <td>{{Сила.9}}</td>
      <td>{{Трафикфакт.9}}</td>
        <td>{{Конверсия.9}}</td>
      <td>{{Регистрациифакт.9}}</td>
      <td>{{Бюджетплан.9}}</td>
        <td>{{Бюджетфакт.9}}</td>
    </tr>
      <tr>
      <th scope="row">11</th>
      <td>{{Источник.10}}</td>
      <td>{{Количество.10}}</td>
      <td>{{Сила.10}}</td>
      <td>{{Трафикфакт.10}}</td>
        <td>{{Конверсия.10}}</td>
      <td>{{Регистрациифакт.10}}</td>
      <td>{{Бюджетплан.10}}</td>
        <td>{{Бюджетфакт.10}}</td>
    </tr>

  </tbody>

</table>









	        </div>

        </div>
    </div>
</div>










</div>







</body>
</html>
