<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" href="styles/style.css">
    <title>Document</title>
</head>
<body>
<div class="container">
    <h1>Я нихуя не помню какое тут должно быть название</h1>
    <form action="/page2" role="form" method="POST" class="form">
        <input type="hidden" name="csrfmiddlewaretoken" value="4NqqsonHyAczXH8zkUBNCAKbEY0nXM9GyBTgq3211KqvNLsDWUvGDBqD3BkunHBS">
        <div class="form-item">
            <label for="id_land">Введите ссылку на лендинг</label>
            <input type="text" name="land" class="form-input" maxlength="300" required="" id="id_land">
            <span class="form-label">Ввести URL - лендинга</span>
        </div>
        <div class="form-item">
            <label for="id_success">Введите ссылку на Success Page</label>
            <input type="text" name="success" class="form-input" maxlength="300" required="" id="id_success">
            <span class="form-label">Ввести URL - Success Page</span>
        </div>
        <div class="form-item">
            <label for="id_start">Введите дату старта промо</label>
            <input type="text" name="start" class="form-input" maxlength="300" required="" id="id_start">
        </div>
        <div class="form-item">
            <label for="id_end">Введите дату окончания промо</label>
            <input type="text" name="end" class="form-input" maxlength="300" required="" id="id_end">
        </div>
        <div class="form-item">
            <label for="id_complete">Введите ссылку на таблицу регистраций complete</label>
            <input type="text" name="complete" class="form-input" maxlength="300" required="" id="id_complete">
            <span class="form-label">Ввести ссылку на complete</span>
        </div>
        <div class="form-item">
            <label for="id_heshteg">Введите хештег</label>
            <input type="text" name="heshteg" class="form-input" maxlength="300" required="" id="id_heshteg">
            <span class="form-label">Ввести хештег</span>
        </div>
        <button type="submit" class="btn">Отправить &gt;&gt;</button>
    </form>
</div>

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script>
    function isValidUrl(url)
    {
        var objRE = /^(ftp|http|https):\/\/[^ "]+$/;
        return objRE.test(url);
    }

    $('#id_land, #id_success, #id_complete').on('input', function() {
        if ($(this).val() === '') {
            $(this).removeClass('success')
        }
        if ($(this).val().length > 15) {
           if (isValidUrl($(this).val())) {
               $(this).addClass('success')
           } else {
               $(this).removeClass('success')
           }
        }
    })

    $('#id_heshteg').on('input', function() {
        if ($(this).val() === '') {
            $(this).removeClass('success')
        } else {
            $(this).addClass('success')
        }
    })

    $(function(){
        $('#id_start, #id_end').daterangepicker({
            singleDatePicker: true,
            locale: {
                format: 'YYYY-MM-DD',
                "daysOfWeek": [
                    "Вс",
                    "Пн",
                    "Вт",
                    "Ср",
                    "Чт",
                    "Пт",
                    "Сб"
                ],
                "monthNames": [
                    "Январь",
                    "Феварль",
                    "Март",
                    "Апрель",
                    "Май",
                    "Июнь",
                    "Июль",
                    "Август",
                    "Сентябрь",
                    "Октябрь",
                    "Ноябрь",
                    "Декабрь"
                ],
                "firstDay": 1
            }
        });
    });
</script>
</body>
</html>
