<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles/header-style.css">
    <title>Document</title>
</head>
<body>
<div class="header">
    <div class="container">
        <div class="logo">
            <a href="/"></a>
            <p>Marketing Automation Lab</p>
        </div>
        <div class="logout">
            <a href="/users/logout/">Выход</a>
        </div>
    </div>
</div>
<div class="content-lk">
    <div class="container">
        <div class="services">
            <div class="services__single">
                <div class="services__single-img"></div>
                <div class="services__single-content">
                    <h3>Построить воронку</h3>
                    <p>Инструмент строит фактическую воронку проекта на основании данных из Google Analytics, базы регистраций и других документов проекта.</p>
                    <a href="https://deliveryclub.herokuapp.com/funnel">Перейти >></a>
                </div>
            </div>
            <div class="services__single">
                <div class="services__single-img"></div>
                <div class="services__single-content">
                    <h3>Сгенерировать UTM-метку</h3>
                    <p>Инструмент генерирует UTM-разметку по стандартам Changellenge >> в зависимости от выбранного типа размещения и его параметров.</p>
                    <a href="https://deliveryclub.herokuapp.com/funnel">Перейти >></a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
