{% extends 'base.html' %}


{% block content %}

<style>
    h2 {
        margin: 0 0 15px 5px;
        color: #be1c18;
        font-size: 22px;
    }
</style>
<div class="container">
    <h2>Генерация UTM-метки. Шаг 3</h2>
    <form action="https://deliveryclub.herokuapp.com/utmgenerator/hr/add/utmupdate" id="personForm"
          role="form" method="POST">
        {% csrf_token %}

        <div class="group">
            <div class="group__single">
                {{ nameinsertfirst }}
            </div>
            <div class="group__single">
                {{ form.utm_campaign }}
            </div>
        </div>
        <div class="group">
            <div class="group__single">
                {{ nameinsertsecond }}
            </div>
            <div class="group__single">
                {{ form.utm_term }}
            </div>
        </div>
        <div class="group">
            <div class="group__single">
                {{ nameinsertthird }}
            </div>
            <div class="group__single">
                {{ form.utm_content }}
            </div>
        </div>
        <div class="buttons-group">
            <button type="submit" class="next">Далее</button>
        </div>
    </form>
</div>

{% endblock %}





