{% extends 'base.html' %}


{% block content %}
  <p>
    <a href="{% url 'url_add' %}">Add person</a>
  </p>

  <table border="1">
    <thead>

    </thead>
    <tbody>
    {% if people.last is not None %}
        <tr>
          <td>{{  people.last.person.country }}</td>
          <td>{{  people.last.person.city }}</td>
          <td>{{  people.last.utmname }}</td>
        </tr>
    {% else %}
        <tr>
          <td colspan="4">No person in the database. <a href="{% url 'url_add' %}">Add the first person</a>.</td>
        </tr>
    {% endif %}

    </tbody>
  </table>

{% endblock %}
