{% extends 'base.html' %}

{% block content %}

<div class="container">
    <form action="pagenext" method="post" id="personForm" data-cities-url="{% url 'ajax_load_cities' %}" novalidate>
        <!--<div class="options">-->
            {% csrf_token %}
        <!--</div>-->
        <div class="options">
            {{ form.country }}
            {{ form.city }}
        </div>
        <button type="submit">Далее</button>
        <a href="{% url 'person_changelist' %}">Назад</a>
    </form>
</div>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    $("#id_country").change(function () {
      var url = $("#personForm").attr("data-cities-url");
      var countryId = $(this).val();

      $.ajax({
        url: url,
        data: {
          'country': countryId
        },
        success: function (data) {
          $("#id_city").html(data);
        }
      });

    });
  </script>

{% endblock %}
