{% extends 'base.html' %}


{% block content %}
    <form action="update" id="personForm" name="form77738328" role="form"  method="POST"  data-formactiontype="2" data-inputbox=".t-input-group">

	  			        	            	                <input type="hidden" name="formservices[]" value="1be168af8a85a264fd9ec3577b14281e" class="js-formaction-services">


            <div class="t-input-group t-input-group_nm" data-input-lid="1494858943227">
                              <div class="t-input-block" style="position: relative; overflow: hidden;">

                                      {% csrf_token %}
                                  {{ form.name }}


                    <div class="t-input-error"></div>
          </div>
      </div>





                <div class="t-form__submit">
                    <button type="submit" class="t-submit" style="color:#ffffff;background-color:#000000;">Отправить &gt;&gt;</button>
                </div>

            </div>



</form>
{% endblock %}
