{% extends 'base.html' %}
{% block content %}

<style>

    body {
        font-family: "Helvetica", sans-serif;
        margin: 0;
        background: #dfe3e4;
    }

    .container {
        width: 700px;
        margin: 80px auto 40px auto;
        background: #ffffff;
        padding: 25px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        -webkit-box-shadow: 0px 0px 14px -1px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 14px -1px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 14px -1px rgba(0, 0, 0, 0.75);
    }

    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 99px;
        overflow: hidden;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
    }
    .form-item {
        display: inline-block;
        vertical-align: top;
        position: relative;
        margin-bottom: 30px;
        width: 100%;
    }
    .form-item label {
        color: #44484b;
        font-size: 20px;
        padding-left: 5px;
    }
    .form-item i {
        position: absolute;
        bottom: 12px;
        left: 15px;
        font-size: 20px;
        color: #be1c18;
    }
    .form-item i.fa-info-circle {
        left: auto;
        right: 15px;
        cursor: pointer;
    }
    .form-item i.fa-info-circle p {
        position: absolute;
        font-family: "Helvetica", sans-serif;
        top: -48px;
        margin: 0;
        left: -301px;
        background: #dfe3e4;
        font-size: 13px;
        padding: 10px;
        line-height: 18px;
        font-weight: 100;
        white-space: nowrap;
        display: none;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
    }
    .form-item i.fa-info-circle p:after {
        content: "";
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 12px solid #dfe3e4;
        position: absolute;
        right: 15px;
        bottom: -11px;
    }
    .form-item i.fa-info-circle:hover p {
        display: block;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
    }
    .form-item i.fa-info-circle.more p {
        left: -143px;
    }
    .form-input {
        width: calc(100% - 70px);
        height: 30px;
        padding: 5px 15px 5px 50px;
        border: 2px solid #9f9f9f;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
        outline: none;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        margin-top: 17px;
        font-size: 20px;
        background: transparent;
    }
    .form-input:focus ~ .form-label, .form-input:not(:focus):valid ~ .form-label {
        top: 30px;
        font-size: 12px;
        background: #ffffff;
    }
    .form-input:focus, .form-input:not(:focus):valid {
        border-color: #db182a;
    }
    .form .success {
        border-color: #00d75e;
    }
    .form .success:focus, .form .success:not(:focus):valid {
        border-color: #00d75e;
    }
    .form-label {
        position: absolute;
        pointer-events: none;
        left: 45px;
        top: 59px;
        font-size: 17px;
        color: #b4b4b4;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        padding: 0 10px;
    }

    .btn {
        width: 200px;
        height: 50px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        font-size: 18px;
        background: #00d75e;
        border: 1px solid #00d75e;
        color: #ffffffff;
        cursor: pointer;
    }

    .bg {
        background: rgba(0, 0, 0, 0.7);
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        z-index: 10;
        display: none;
    }

    .loader {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        background: #db182a;
        display: none;
        z-index: 11;
        justify-content: center;
        align-items: center;
    }

    .alert {
        position: fixed;
        background: #dfe3e4;
        z-index: 11;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        top: 50%;
        text-align: center;
        padding: 30px 50px;
        border: 2px solid #db182a;
        border-radius: 5px;
        -webkit-box-shadow: 0px 0px 14px -1px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 14px -1px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 14px -1px rgba(0, 0, 0, 0.75);
        display: none;
        flex-direction: column;
        align-items: center;
    }
    .alert h2 {
        margin: 0 0 20px 0;
        font-size: 30px;
    }
    .alert p {
        margin: 0;
        font-size: 20px;
    }
    .alert button {
        margin-top: 35px;
    }
    .alert .l_main {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 172px;
        height: 128px;
        margin: 0;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    @media (max-width: 550px) {
        .loader {
            -webkit-transform: scale(0.75);
            transform: scale(0.75);
        }
    }
    @media (max-width: 440px) {
        .loader {
            -webkit-transform: scale(0.5);
            transform: scale(0.5);
        }
    }
    .l_square {
        position: relative;
    }
    .l_square:nth-child(1) {
        margin-left: 0px;
    }
    .l_square:nth-child(2) {
        margin-left: 44px;
    }
    .l_square:nth-child(3) {
        margin-left: 88px;
    }
    .l_square:nth-child(4) {
        margin-left: 132px;
    }
    .l_square span {
        position: absolute;
        top: 0px;
        left: 20px;
        height: 36px;
        width: 36px;
        border-radius: 2px;
        background-color: #FFFFFF;
    }
    .l_square span:nth-child(1) {
        top: 0px;
    }
    .l_square span:nth-child(2) {
        top: 44px;
    }
    .l_square span:nth-child(3) {
        top: 88px;
    }
    .l_square:nth-child(1) span {
        -webkit-animation: animsquare1 2s infinite ease-in;
        animation: animsquare1 2s infinite ease-in;
    }
    .l_square:nth-child(2) span {
        -webkit-animation: animsquare2 2s infinite ease-in;
        animation: animsquare2 2s infinite ease-in;
    }
    .l_square:nth-child(3) span {
        -webkit-animation: animsquare3 2s infinite ease-in;
        animation: animsquare3 2s infinite ease-in;
    }
    .l_square:nth-child(4) span {
        -webkit-animation: animsquare4 2s infinite ease-in;
        animation: animsquare4 2s infinite ease-in;
    }
    .l_square span:nth-child(1) {
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
    }
    .l_square span:nth-child(2) {
        -webkit-animation-delay: 0.15s;
        animation-delay: 0.15s;
    }
    .l_square span:nth-child(3) {
        -webkit-animation-delay: 0.3s;
        animation-delay: 0.3s;
    }

    @-webkit-keyframes animsquare1 {
        0%, 5%, 95%, 100% {
            -webkit-transform: translate(0px, 0px) rotate(0deg);
            transform: translate(0px, 0px) rotate(0deg);
        }
        30%, 70% {
            -webkit-transform: translate(-40px, 0px) rotate(-90deg);
            transform: translate(-40px, 0px) rotate(-90deg);
        }
    }
    @keyframes animsquare1 {
        0%, 5%, 95%, 100% {
            -webkit-transform: translate(0px, 0px) rotate(0deg);
            transform: translate(0px, 0px) rotate(0deg);
        }
        30%, 70% {
            -webkit-transform: translate(-40px, 0px) rotate(-90deg);
            transform: translate(-40px, 0px) rotate(-90deg);
        }
    }
    @-webkit-keyframes animsquare2 {
        0%, 10%, 90%, 100% {
            -webkit-transform: translate(0px, 0px) rotate(0deg);
            transform: translate(0px, 0px) rotate(0deg);
        }
        35%, 65% {
            -webkit-transform: translate(-40px, 0px) rotate(-90deg);
            transform: translate(-40px, 0px) rotate(-90deg);
        }
    }
    @keyframes animsquare2 {
        0%, 10%, 90%, 100% {
            -webkit-transform: translate(0px, 0px) rotate(0deg);
            transform: translate(0px, 0px) rotate(0deg);
        }
        35%, 65% {
            -webkit-transform: translate(-40px, 0px) rotate(-90deg);
            transform: translate(-40px, 0px) rotate(-90deg);
        }
    }
    @-webkit-keyframes animsquare3 {
        0%, 15%, 85%, 100% {
            -webkit-transform: translate(0px, 0px) rotate(0deg);
            transform: translate(0px, 0px) rotate(0deg);
        }
        40%, 60% {
            -webkit-transform: translate(-40px, 0px) rotate(-90deg);
            transform: translate(-40px, 0px) rotate(-90deg);
        }
    }
    @keyframes animsquare3 {
        0%, 15%, 85%, 100% {
            -webkit-transform: translate(0px, 0px) rotate(0deg);
            transform: translate(0px, 0px) rotate(0deg);
        }
        40%, 60% {
            -webkit-transform: translate(-40px, 0px) rotate(-90deg);
            transform: translate(-40px, 0px) rotate(-90deg);
        }
    }
    @-webkit-keyframes animsquare4 {
        0%, 20%, 80%, 100% {
            -webkit-transform: translate(0px, 0px) rotate(0deg);
            transform: translate(0px, 0px) rotate(0deg);
        }
        45%, 55% {
            -webkit-transform: translate(-40px, 0px) rotate(-90deg);
            transform: translate(-40px, 0px) rotate(-90deg);
        }
    }
    @keyframes animsquare4 {
        0%, 20%, 80%, 100% {
            -webkit-transform: translate(0px, 0px) rotate(0deg);
            transform: translate(0px, 0px) rotate(0deg);
        }
        45%, 55% {
            -webkit-transform: translate(-40px, 0px) rotate(-90deg);
            transform: translate(-40px, 0px) rotate(-90deg);
        }
    }
    .show {
        display: flex;
    }

    .big-container {
        width: 1270px;
        margin: 0 auto;
    }

    .links {
        display: flex;
        margin-top: 50px;
    }
    .links a {
        position: relative;
        overflow: hidden;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        text-decoration: none;
    }
    .links a:hover {
        width: 150px;
        justify-content: left;
    }
    .links__home a {
        background: #be1c18;
        border-radius: 200px;
        width: 35px;
        height: 35px;
        display: flex;
        border: 1px solid #be1c18;
    }
    .links__home a img {
        margin: 4px 0 0 5px;
    }
    .links__home a p {
        margin: 8px 0 0 10px;
        color: #ffffff;
        white-space: nowrap;
    }
    .links__return a {
        background: transparent;
        border-radius: 200px;
        width: 35px;
        height: 35px;
        display: flex;
        border: 1px solid #be1c18;
        margin-left: 10px;
        -webkit-background-size: 25px;
        background-size: 25px;
        background-position: 6px 5px;
    }
    .links__return a img {
        margin: 5px 0 0 6px;
    }
    .links__return a p {
        margin: 8px 0 0 10px;
        color: #ffffff;
        white-space: nowrap;
    }
    .links__return a:hover {
        background: #be1c18 url(https://changellenge.com/local/templates/main/assets/images/service/back-arrow-white.png) no-repeat 6px 5px;
        -webkit-background-size: 25px;
        background-size: 25px;
    }
    .links__return a:hover img {
        opacity: 0;
    }

    .header {
        background: #27272c;
        height: 80px;
    }
    .header .container {
        width: 1270px;
        margin: 0 auto;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: inherit;
        box-shadow: none;
        padding: 0;
    }

    .header .container a {
        color: #FFFFFF;
        text-decoration: none;
        font-weight: bold;
        font-size: 18px;
    }

    .logo {
        display: flex;
        align-items: center;
    }
    .logo a {
        display: block;
        background: url(https://changellenge.com/local/templates/main/assets/images/svg/logo.svg) center no-repeat;
        -webkit-background-size: contain;
        background-size: contain;
        width: 202px;
        height: 28px;
        position: relative;
        outline: none;
        margin-left: 0;
    }
    .logo p {
        margin: 0 0 0 30px;
        color: #ffffff;
        font-weight: bold;
        font-size: 23px;
    }

    .buttons-group {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .buttons-group button {
        font-size: 20px;
        border: 1px solid #be1c18;
        padding: 5px 50px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px;
        background: #be1c18;
        color: #ffffff;
        cursor: pointer;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
    }

    .buttons-group button:hover {
        -webkit-box-shadow: 0px 0px 14px -1px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 14px -1px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 14px -1px rgba(0, 0, 0, 0.75);
        background: #ffffff;
        color: #be1c18;
    }



</style>

<div class="big-container">
    <div class="links">
        <div class="links__home">
            <a href="/">
                <img src="https://changellenge.com/local/templates/main/assets/images/service/home.png" alt="Home" width="25" height="25">
                <p>На главную</p>
            </a>
        </div>
        <div class="links__return">
            <a href="#">
                <img src="https://changellenge.com/local/templates/main/assets/images/service/back-arrow.png" alt="Home" width="25" height="25">
                <p>Вернуться</p>
            </a>
        </div>
    </div>
</div>
<div class="container">
    <form action="update" id="personForm" role="form" method="POST">
        <div class="form-item">
            <label for="id_land">Введите ссылку на лендинг</label>
            <i class="fas fa-link"></i>
            {% csrf_token %}
            {{ form.name }}
            <i class="fas fa-info-circle">
                <p><b>Например:</b> https://1.changellenge.com/company/bain</p>
            </i>
            <span class="form-label">Ввести URL - лендинга</span>
        </div>
        <div class="buttons-group">
            <button type="submit" class="next">Далее</button>
        </div>
    </form>
</div>

{% endblock %}
