<!doctype html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Simple ERP{% endblock %}</title>
    <script src="https://kit.fontawesome.com/8b80a9f534.js" crossorigin="anonymous"></script>
    <style type="text/css">
      .errorlist {
        margin: 0;
        padding: 0;
      }
      .errorlist li {
        list-style: none;
        font-size: 90%;
        color: red;
      }
      .errorlist ~ input,
      .errorlist ~ select {
        border-color: red;
      }
    </style>
  </head>
  <body>

        {% if user.is_authenticated %}
       <a href="{% url 'users:logout' %}">log out</a>
     {% else %}
     {% endif %}
    <hr>
    {% block content %}
    {% endblock %}
  </body>
</html>
